%h1 TESTING

.container
  - @posts.each do |post|
    %li= link_to post.title, post


-#
-# <div class='container'>
-#
-# 	<% @posts.each_with_index do |post,i| %>
-# 		<% if i==0 || i%3 ==0 %>
-# 			<div class = 'row'>
-# 				<%= render 'post', post:post, i:i%>
-# 		<%elsif (i+1)%3 == 0 %>
-# 			<%= render 'post', post:post, i:i%>
-# 			</div>
-# 			<hr/>
-# 		<%else%>
-# 			<%= render 'post', post:post, i:i %>
-# 		<%end%>
-# 	<% end %>
-#
-# </div>
