.row
  .col-md-9
    .well
      %h1.post-title
      - if logged_in?
        =link_to 'Edit Post', edit_post_path(@post)
      %br
      =@post.title
      %hr
      %p=@post.body
      -@post.photos.each do |p| # for each image
        = image_tag(p.medium.url)
      %br
      - if !@user.nil?
        = image_tag(@user.photo.small.url)
